// 공통 component
.box {
  display: flex;
  .items {
    box-sizing: border-box;
    padding: 50px;
    flex: 100%;
    flex-shrink: 0; //특정사이즈에서 더이상 안 줄어들게
    font-size: $fontSizeMid;
    .title {
      font-size: $titleFontSizeMid;
    }
    img {
      width: 100%;
    }
  }
  &.items_2 {
    .items {
      flex: 50%;
    }
  }
}

  // community 게시판
  // 나중에 재사용할 수 있기 때문에
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th {
      padding: 20px 15px;
      text-align: left;
      font-weight: 500;
      font-size: $fontSizeSmall;
      color: black;
      &:nth-child(1) {
        width: 60%;
      }
    }
    td {
      padding: 15px;
      text-align: left;
      vertical-align: middle;
      font-weight: 300;
      font-size: $fontSizeSmall;
      // color: $fontColorBasic;
      color: #121212;
      border-bottom: 1px solid #dbdbdb;
      border-collapse: collapse;
      &:nth-child(1) {
        width: 60%;
      }
    }
    & + .gbtn {
      margin-top: 20px;
      &.right {
        float: right;
      }
    }
  }
  .tbl-header {
    background-color: $tableBg;
    // margin-top: 50px;
  }
  .tbl-content {
    margin-top: 0;
  }

  // location page table
  table.loca {
    th {
      &:nth-child(1) {
        width: 20%;
      }
      &:last-child {
        width: 10%;
      }
    }
    td {
      &:nth-child(1) {
        width: 20%;
      }
      &:last-child {
        width: 10%;
      }
    }
  }

  //accordian
  .accordian {
    dl {
      margin: 50px auto;
      dt {
        font-size: 18px;
        text-indent: 3em;
        color: white;
        line-height: 35px;
        height: 35px;
        background: $tableBg;
      }
      dd {
        height: 300px;
        background: #d4d0c8;
        p {
          text-indent: 1em;
          padding: 20px;
        }
      }
    }
  }

  // kakaomap
  .map-info-window {
    width: 150px;
    text-align: center;
    padding: 6px 0;
  }

  //column layout
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    overflow: hidden;
    .row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      // width: 1410px;
      color: #333;
      padding: 120px 0;
      box-sizing: border-box;
      & > h2 {
        position: absolute;
        height: 80px;
        line-height: 80px;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
      }
      .column {
        flex: 25%;
        .inner {
          text-align: center;
          margin: 15px;
          padding: 15px;
          border: 1px solid #f1f1f1;
          background: white;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
          border-radius: 5px;
          &.news {
            height: 230px;
            img {
              width: 300px;
              height: 150px;
              object-fit: cover;
            }
          }
          &.none-type {
            border: 0;
            box-shadow: none;
            background: none;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }

  // 좌 제목 우 컨텐츠
  .inner-rlcontent {
    margin-top: 30px;
    width: 100%;
    float: left;
    .section-left {
      width: 262px;
      float: left;
      margin: 0 30px 0 0;
      h3.title {
      }
      // 왼쪽에 테이블일때
      dl {
        width: 100%;
        float: left;
        margin: 0;
        dt {
          width: 80px;
          float: left;
          font-weight: 400;
        }
        dd {
          width: calc(100% - 80px);
          font-size: 400;
          float: left;
          margin: 0 0 10px 0;
          color: #999;
        }
      }
    }
    .section-right {
      width: calc(100% - 292px);
      float: left;
      margin: 0;
      img {
        width: 100%;
      }
      .bi-img {
        img {
          width: 200px;
          margin: 30px 50px 30px 130px;
        }
      }
    }
  }
