html, body {
  height: 100%;
}

body {
  background: $layoutBg;
  // color: $fontColorBasic;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

html, body, ul, li, h1, h2, h4, h5, h6, dd, dl, dt {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $fontColorPrimary;
  transition: .5s;
  &:hover { //this처럼 본인을 지칭함
    color: $fontColorHover;
  }
}
