// main 페이지
.mainbanner {
  position: relative;
  display: block;
  height: 550px;
  background-image: url('../img/main/spc-samlip-good-food-happy-life.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &.second {
    background-image: url('../img/main/spc-samlip-main-banner-01.jpg');
  }
  &.third {
    background-image: url('../img/main/spc-samlip-main-banner-02.jpg');
  }
  &.forth {
    background-image: url('../img/main/spc-samlip-main-banner-03.jpg');
  }
  &.fifth {
    background-image: url('../img/main/slide-fresh-02.jpg');
  }
}

.inner {
  &:nth-child(1) {
    margin-top: 50px;
  }
  .box {
    &.items_2 {
      .itmes {
        h3 {
          margin-bottom: 20px;
        }
        p {
          margin-top: 20px;
          & + a {
          margin-top: 50px;
          }
        }
      }
    }
  }
}

.swiper {
  .swiper-wrapper {
    .swiper-slide {
      h2 {
        font-size: 4.43rem;
        letter-spacing: 0.5px;
        line-height: 1;
        color: #fff;
        display: block;
      }
      p {
        font-size: 1.131rem;
        line-height: 1.36;
        font-weight: 500;
      }
    }
  }
}
