// sub page
body.subpage {
  main {
    .container {
      display: flex;
      .content {
        width: 100%;
      }
      // 왼쪽메뉴
      #lnb {
        flex: 230px;
        flex-shrink: 0;
        flex-grow: 0; //칸텐츠가 없어도 늘어나지않게
        box-sizing: border-box;
        padding-right: 50px;
        ul {
          li {
            border-bottom: 1px solid $borderColorPrimary;
            a {
              display: inline-block;
              width: 100%;
              height: 100%;
              line-height: 50px;
              font-size: $fontSizeMid;
              box-sizing: border-box;
              transition: .5s;
              &:hover {
                padding-left: 20px;
              }
              &.on {
                color: #fff;
                background: $gbtnColor;
                padding-left: 20px;
              }
            }
          }
        }
      }
      // sub page title 영역
      .sub-title {
        & + .tbl-header {
            margin-top: 50px;
          }
        span {
          position: relative;
          display: inline-block;
          line-height: 43px;
          padding-bottom: 8px;
          &:after {
            content:'';
            position: absolute;
            height: 3px;
            background: $borderColorPrimary;
            width: 100%;
            bottom: 0;
            left: 0;
          }
        }
      }
      // page content영역
      .inner {
        & + .inner {
          margin-top: 50px;
          padding-top: 50px;
          border-top: 1px solid $borderColorPrimary;
        }
        .box {
          &.wrap {
            //연혁부분에서는 이 속성 안씀
            flex-wrap: wrap;
            text-align: center;
          }
          .items {
            &.intro {
              text-align: center;
            }
            .title {
              // introduce영역
              &.intro {
                color: #36b4e5;
                font-weight: 500;
                font-size: 1.5rem;
                & + p {
                  font-size: 2rem;
                  font-weight: 400;
                }
                & + ul {
                  width: 100%;
                  float: left;
                  text-align: center;
                  li {
                    width: 250px;
                    height: 250px;
                    display: inline-block;
                    margin: 20px -10px 0 -10px;
                    border-radius: 50%;
                    border: none;
                    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
                    &:nth-child(1) {
                      background: #36b4e5;
                      color: #fff;
                      img {
                        filter: invert(100%);
                      }
                    }
                    &:nth-child(2) {
                      background: #fff;
                    }
                    &:nth-child(3) {
                      background: #f3c300;
                      color: #fff;
                      img {
                        filter: invert(100%);
                      }
                    }
                    img {
                      width: auto;
                      height: 50px;
                      margin: 55px 0 15px 0;
                    }
                    h4 {
                      font-size: 1.5rem;

                    }
                  }
                }
              }
            }
            // history영역
            h3.title.history {
              font-size: 2.531rem;
              font-weight: 700;
              color: grey;
              &:after {
                content: '';
                display: block;
                width: 40px;
                height: 1px;
                background: gray;
                margin: 15px 0 20px 0;
              }
              & + p {
                font-size: 1.5rem;
                margin: 10px 0 20px 0;
                & + small {
                  font-size: 1rem;
                  color: gray;
                  margin-bottom: 30px;
                }

              }
            }
          }
        }
        // brand btn 영역
        &.brand-btn {
          display: block;
          text-align: center;
          ul {
            li {
              display: inline-block;
              margin-left: 50px;
              font-weight: 600;
              font-size: 1.5rem;
              color: #CCC;
              transition: .3s;
              &:first-child {
                margin-left: 0;
              }
              &:hover {
                color: #121212;
              }
              &.on {
                color: #121212;
                border-bottom: 2px solid #121212;
              }
            }
          }
          & + section#bakery {
            display: none;
            &.on {
              display: block;
            }
            & + section#food {
              display: none;
              &.on {
                display: block;
              }
              & + section#store {
                display: none;
                &.on {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
